@import '../../../src/scss/UI/header.scss';

.header {
  padding: 30px 30px 64px 30px;

  &_burgerMenuItem {
    background-color: $darkBlue;
  }

  &.open {
    & .header_burgerMenuItem {
      background-color: $offWhite;
    }
  }
}

@media screen and (min-width: 744px) {
  .header {
    &_menuListItem {
      color: $darkBlue;

      &Link {
        color: $darkBlue;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 40px 140px 80px;

    &_menuListItem {
      margin-right: 56px;
    }
  }
}
