.chat {
  &_title {
    font: $heading1-m;
    color: $darkBlue;
    margin-bottom: 24px;
    padding: 0 24px;
  }
  &_subtitle {
    font: $p-m;
    color: $darkBlue;
    margin-bottom: 48px;
    padding: 0 30px;
  }
  &_link {
    font: $p-m;
    color: $softBlue;
    text-decoration: underline;
    padding-left: 30px;

    &Wrap {
      display: flex;
    }
  }
  &_block {
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    &:last-child {
      padding-bottom: 120px;
    }
    &-main {
      margin: 80px 0 120px 30px;
      padding-bottom: 64px;
      display: flex;
      flex-direction: column;
    }
    &Content {
      display: flex;
      flex-direction: column;
    }
  }
  &_img {
    padding-bottom: 48px;
    &-main {
      padding-bottom: 48px;
      object-fit: none;
      object-position: left;
      height: 654px;
    }
  }
}

.block-reversed {
  display: flex;
  flex-direction: column;
}

.title-main {
  padding: 0;
}

.subtitle-main {
  padding: 0;
}

.linkWrap-main {
  padding: 0;
}

@media screen and (min-width: 568px) {
  .chat {
    &_block {
      flex-direction: row;

      &Content {
        width: 50%;
        align-self: center;
      }
    }
    &_img {
      width: 50%;
      padding: 0;
    }
  }
  .block-reversed {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 744px) {
  .chat {
    &_title {
      font: $heading1;
    }
    &_subtitle {
      font: $p;
    }
    &_img {
      padding-bottom: 0;
    }
    &blockContent-main {
      width: 100%;
    }
  }
}

@media screen and (min-width: 1440px) {
  .chat {
    &_img-main {
      padding: 0;
    }
    &_block {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0 140px 120px;
      &:last-child {
        margin-bottom: 200px;
        padding: 0;
      }
      &Content {
        width: 456px;
        &-main {
          align-self: center;
        }
      }
      &-main {
        margin: 80px 0 120px 140px;
        padding: 0;
      }
    }
    &_title {
      margin-bottom: 24px;
      padding: 0;
    }
    &_subtitle {
      margin-bottom: 48px;
      padding: 0;
    }
    &_link {
      font: $p-m;
      color: $softBlue;
      text-decoration: underline;
      padding-left: 0px;
    }
    &_block-main {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}
