.header {
  padding-top: 30px;
  padding-bottom: 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.open {
    & .header_burgerMenuItem {
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        visibility: hidden;
      }
      &:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
    & .header_menu {
      opacity: 1;
    }
  }
  &_burgerMenu {
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 6px 3px;
    z-index: 2;

    &Item {
      display: block;
      width: 18px;
      height: 2px;
      background-color: $offWhite;
      border-radius: 1px;
      margin-bottom: 3px;
      transition: transform 0.5s;
    }
  }

  &_menu {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: $softBlue;
    padding: 92px 32px 12px 64px;
    transition: opacity 0.5s ease-in-out;

    &List {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      &Item {
        cursor: pointer;
        text-decoration: underline;
        font: $p-m;
        color: $offWhite;
        margin-bottom: 24px;
        &Link {
          color: $offWhite;
        }
      }
    }
  }
}



.btn-blueLight {
  display: none;
}

@media screen and (min-width: 744px) {
  .header {
    &_burgerMenu {
      display: none;
    }
    &_menu {
      position: relative;
      right: 0;
      display: flex;
      flex-direction: row;
      background-color: transparent;
      padding: 0;
      opacity: 1;
      align-items: center;
      &List {
        flex-direction: row;
        &Item {
          margin-bottom: 0;
          margin-right: 16px;
          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  .btn-blueLight {
    display: block;
  }
}
