.banner {
  background: url(../images/christina-wocintech_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85%;
  padding: 0 30px;

  &_content {
    padding-bottom: 88px;
  }

  &_form {
    display: flex;
    flex-direction: column;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $desaturatedBlue;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $desaturatedBlue;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $desaturatedBlue;
}

  &_input {
    padding: 12px 16px;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    flex-grow: 1;

    &Wrap {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: $offWhite;
      border: 2px solid $grayishBlue;
      border-radius: 4px;
      margin-bottom: 16px;
    }
  }

  &_arrow {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  &_title {
    font: $heading1-m;
    color: $offWhite;
  }

  &_subtitle {
    font: $p-m;
    color: $offWhite;
    margin-bottom: 56px;
  }

  &_btn {
    width: 100%;
  }

  .header {
    padding-top: 30px;
    padding-bottom: 188px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.open {
    & .header_burgerMenu div {
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        visibility: hidden;
      }
      &:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
    & .header_menu {
      opacity: 1;
    }
  }
    &_burgerMenu {
      cursor: pointer;
      width: 24px;
      height: 24px;
      padding: 6px 3px;
      z-index: 2;
      
      
      & div {
        display: block;
        width: 18px;
        height: 2px;
        background-color: $offWhite;
        border-radius: 1px;
        margin-bottom: 3px;
        transition: transform 0.5s;
      }
    }

    &_menu {
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      background-color: $softBlue;
      padding: 92px 32px 12px 64px;
      transition: opacity .5s ease-in-out;
      
      
      &List {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        &Item {
          text-decoration: underline;
          font: $p-m;
          color: $offWhite;
          margin-bottom: 24px;
          
        }
      }
    }
  }

  .btn-blueLight {
    display: none;
  }

  @media screen and (min-width: 568px) {
    &_title {
      font: $heading1;
    }

    &_subtitle {
      font: $p;
    }

    &_form {
      flex-direction: row;
    }

    &_inputWrap {
      width: 60%;
      margin-bottom: 0px;
      margin-right: 12px;
    }

    &_btn {
      width: 40%;
    }

    &_content {
      padding-bottom: 112px;
    }
  }

  @media screen and (min-width: 744px) {
    

    &_inputWrap {
      margin-right: 16px;
    }

    &_content {
      max-width: 548px;
      padding-bottom: 140px;
    }

    &_btn {
      width: 234px;
    }

    &_inputWrap {
      width: 298px;
    }

    .header {
      &_burgerMenu {
        display: none;
      }
      &_menu {
        position: relative;
        right: 0;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        padding: 0;
        opacity: 1;
        align-items: center;
        &List {
          flex-direction: row;
          &Item {
            margin-bottom: 0;
            margin-right: 16px;
            &:last-child {
              display: none;
            }
          }
        }
      }
    }

    .btn-blueLight {
      display: block;
    }
  }
}

@media screen and (min-width: 1440px) {
  
  
  .banner {
    padding: 0 140px;
    &_content {
      max-width: 564px;
      padding-bottom: 248px;
    }
    .header_menuListItem {
      margin-right: 56px;
    }
  }
}
