@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Lexend+Deca:wght@400;700&display=swap");
@import "./commonStyles/variables.scss";
@import "./commonStyles/normalize.scss";
@import "./bannerSection.scss";
@import "./btn.scss";
@import "./chatSection.scss";
@import "./feedbackSection.scss";
@import "./footerSection.scss";


body {
  font-family: "Lexend Deca", sans-serif;
  min-width: 320px;
  background-color: $offWhite;
  &_wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
}

